server:
  port: 8080

spring:
  devtools:
    restart:
      #热部署生效
      enabled: true
      #设置重启的目录
      additional-paths: resources/**,static/**,templates/**

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://127.0.0.1:3306/study?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    username: root
    password: bidhjfkm
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat,wall,log4j
  thymeleaf:
    cache: false
    check-template-location: true

mybatis-plus:
  #  config-location: classpath:mybatis-config.xml
  mapper-locations: classpath*:/mapper/*.xml
  check-config-location: true
  configuration:
    default-executor-type: reuse
    map-underscore-to-camel-case: true
    call-setters-on-nulls: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
